* {
  margin: 0;
}

body {
  background-color: #444444;
}

#board {
  border: 1px solid #ccc;
  width: 90vh;
  height: 90vh;
  padding: 1px;
  margin: auto;
}

.cell {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  background-color: #000000;
  border: 1px solid #989898;
  margin: -1px 0 0 -1px;
  color: #fff;
}

.cell.filled {
  background-color: #888888;
}

.cell.startPoint,
.cell.endPoint {
  color: #ff3440;
  position: relative;
  text-align: center;
}

.cell.startPoint:before {
  content: 'A';
}

.cell.endPoint:before {
  content: 'B';
}

.cell.startPoint:before,
.cell.endPoint:before {
  font-size: 22px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cell:hover {
  transition: transform 100ms ease-in;
  transform: rotate(5deg);
}

.cell.isInNeighbour {
  filter: light(0.5);
}

.row {
  display: flex;
}

.result {
  text-align: center;
  margin-top: 30px;
}
